
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
padding: 20px;
  display: flex;
  justify-content: center;  /* horizontal center */
  align-items: center;      /* vertical center */
    
  background-color: black;  
}


p {
  font-size: 16px;
  line-height: 1.6;
  color: rgba(170, 94, 205, 0.97);
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin-bottom: 20px; 
}
