img {
max-width:100%;
box-sizing:border-box;

}


body {
  background: radial-gradient( rgb(235, 194, 239), rgb(133, 142, 186), rgb(150, 130, 194));
}

img[src*='moon.png'] {

  top: 50px;
  left: 60px; 
  filter: drop-shadow:(5px 5px 10px rgba(98,0,0,0.5));
}

h1 {
font-size:80px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
position: absolute;
top: 60px;
left: 250px;




}

.image-grid {
  display: flex;          
  flex-direction: column;
  gap: 30px;              
  max-width: 1000px;
  padding: 10px;
  margin-top: 50px;          

}

.item {
  display: flex;         
  align-items: center;
  gap: 30px;              
}

.item img {
  width: 200px;
  height: auto;
}

.item p {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  font-size: 18px;
  color: black;
}

h2 { 
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size:15px;
width:150px;
position: absolute;
left: 1200px;
top: 370px;
}

 .sources-list {
  position: absolute; 
  top: 700px;
  left: 1170px;
  list-style: disc;  
  padding-left: 40px;     
  margin-top: 30px;      
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  color: black;
 }