img {
max-width:100%;
box-sizing:border-box;
}


html, body {
  height: 100%;
  margin: 0; 
}

body {
  background: radial-gradient( rgb(231, 206, 243), rgb(168, 145, 189), rgb(157, 190, 152));
}

h1 {
font-family:Georgia, 'Times New Roman', Times, serif;
font-size: 12px;
width:375px;
position: absolute;
  left: 15%;
  top: 15%;
  opacity: 0.8;}
  

h2 {
  position: absolute;
  left:700px;
  top:750px;  
}

h2 a {
  text-decoration: none; 
  color: black;    
}
  h2:hover {
  color: rgb(109, 137, 116);
  opacity: .6;
  }